.service-header h1{
    color: white;
    font-size: 8rem; /* Adjust the font size as needed */
    transform: rotate(90deg); /* Rotates the text by 90 degrees */
    transform-origin: left top; /* Ensures rotation is from the top-left corner */
    position: absolute;
    left:0;
    top: 120px; /* Vertically centers the text */
    margin-left: 200px; /* Optional: Adds some space from the left edge */
    
}

/********  .service-middle-section   *********/
.service-middle-section{
    margin-top: 800px;
    display: flex;
}
.service-middle-left{
    padding: 20px 20px 20px 60px;
    width: 50%;
}
.service-middle-right{
    margin-top: -200px;
    padding: 40px;
    width: 50%;
    text-align: center;
}
.service-middle-right p{
    background-color: greenyellow;
    border-radius: 10px;
    padding: 60px;
    text-align: left;
}
.service-middle-right-2{
    display: none;
}

/********  our-service-section   *********/
.our-services{
    margin: 60px;
}

/**/
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;  /* Adjusted for larger width */
    height: 300px;
    margin: 150px 20px;
}

.slide {
    width: 500px;
    height: 300px;
    margin: 0 20px;
    padding: 20px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    transition: transform 2s ease, opacity 2s ease;
    position: absolute;
    cursor: pointer;  /* Makes slides clickable */
}
.slider-img{
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: -1;
    opacity: 0.15;
    border-radius: 10px;
}

.red { background-color: rgb(7, 37, 60); }
.blue { background-color: rgb(7, 37, 60); }
.green { background-color: rgb(7, 37, 60); }
.yellow { background-color: rgb(7, 37, 60); }
.purple { background-color: rgb(7, 37, 60); }
.orange { background-color: rgb(7, 37, 60); }

/* Focused slide is zoomed and centered */
.center {
    transform: scale(1.5); /* Zoom the focused slide */
    z-index: 2;
    opacity: 1;
}

/* Left and right slides */
.left {
    transform: translateX(-60%) scale(1);
    z-index: 1;
    opacity: 0.6;
}

.right {
    transform: translateX(55%) scale(1);
    z-index: 1;
    opacity: 0.6;
}

/* Hidden slides */
.hidden-left {
    transform: translateX(-700px) scale(0.8);
    z-index: 0;
    opacity: 0;
}

.hidden-right {
    transform: translateX(00px) scale(0.8);
    z-index: 0;
    opacity: 0;
}

.service img{
    width: 80px;
}
.service h3{
    font-size: 1rem;
}
.service p{
    font-size: 0.7rem;
}


/********  media-query   *********/
@media screen and (max-width:1200px) {
    .service-header h1{
        font-size: 6.5rem;
        top: 100px; /* Vertically centers the text */
        margin-left: 180px; /* Optional: Adds some space from the left edge */
        
    }
    .service-middle-section{
        margin-top: 650px;
    }
    .service-middle-right img{
        width: 450px;
    }
    .slide {
        width: 430px;
        height: 300px;
    }
    .slider-img{
        width: 430px;
        height: 300px;
    }
    
}
@media screen and (max-width:1000px) {
    .service-header h1{
        font-size: 5.5rem;
        top: 80px; /* Vertically centers the text */
        margin-left: 180px; /* Optional: Adds some space from the left edge */
        
    }    
    .service-middle-section{
        margin-top: 520px;
    }
    .service-middle-section h1{
        font-size: 1.7rem;
    }
    .service-middle-section p{
        font-size: 1rem;
    }
    .service-middle-left{
        padding: 10px 10px 10px 30px;
    }
    .service-middle-right{
        margin-top: -150px;
    }
    .service-middle-right p{
        padding: 20px;
    }
    .service-middle-right img{
        width: 360px;
    }
    .slide {
        width: 360px;
        height: 300px;
    }
    .slider-img{
        width: 360px;
        height: 300px;
    }
}
@media screen and (max-width:800px) {
    .service-header h1{
        font-size: 4.5rem;
        top: 70px; /* Vertically centers the text */
        margin-left: 110px; /* Optional: Adds some space from the left edge */
        
    }
    .service-middle-section{
        margin-top: 420px;
    }
    .service-middle-section h1{
        font-size: 1.5rem;
    }
    .service-middle-section p{
        font-size: 0.8rem;
    }
    .service-middle-right{
        margin-top: -100px;
    }
    .service-middle-right img{
        margin-left: -20px;
        width: 300px;
    }
    
    .slide {
        width: 320px;
        height: 320px;
    }
    .slider-img{
        width: 320px;
        height: 320px;
    }
    .left {
        transform: translateX(-45%) scale(1);
    }
    
    .right {
        transform: translateX(40%) scale(1);
    }
}
@media screen and (max-width:650px) {
    .service-middle-section{
        display: block;
    }
    .service-middle-right{
        margin-top: 0px;
    }
    .service-middle-left{
        padding: 20px 50px;
        width: 100%;
    }
    .service-middle-right{
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .service-middle-right-2{
        display: block;
        background-color: greenyellow;
        margin: 30px;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
    }
    .service-middle-right-2 p{
        text-align: left;
    }
    .service-middle-right-2 img{
        text-align: center;
        width: 300px;
    }
    .slide {
        margin-left: 10px;
        width: 280px;
        height: 320px;
    }
    .slider-img{
        width: 280px;
        height: 320px;
    }
    .service img{
        width: 70px;
    }
    .service h3{
        font-size: 0.9rem;
    }
    .service p{
        font-size: 0.6rem;
    }
}
@media screen and (max-width:550px) {
    .service-header h1{
        font-size: 3.5rem;
        top: 70px; /* Vertically centers the text */
        margin-left: 90px; /* Optional: Adds some space from the left edge */
        
    }
    .service-middle-section{
        margin-top: 350px;
    }
    .service-middle-section h1{
        font-size: 1.3rem;
    }
    .service-middle-section p{
        font-size: 0.6rem;
    }
    .slider{
        margin-top: 100px;
    }
    .slide {
        margin-left: -30px;
        width: 200px;
        height: 270px;
    }
    .slider-img{
        width: 200px;
        height: 270px;
    }
    .service img{
        width: 60px;
    }
    .service h3{
        font-size: 0.7rem;
    }
    .service p{
        font-size: 0.5rem;
    }
    .left {
        transform: translateX(-45%) scale(1);
    }
    
    .right {
        transform: translateX(50%) scale(1);
    }
}
@media screen and (max-width:400px) {
    .service-header h1{
        font-size: 3.2rem;
        top: 70px; /* Vertically centers the text */
        margin-left: 90px; /* Optional: Adds some space from the left edge */
        
    }
    .service-middle-section{
        margin-top: 320px;
    }
    .service-middle-right-2 img{
        text-align: center;
        width: 200px;
    }
    .service-middle-left{
        padding: 20px 20px 10px 20px;
    }
    .service-middle-right-2{
        margin: 10px;
        padding: 20px 20px 10px 19px;
    } 
    .slide {
        margin-left: -15px;
        width: 170px;
        height: 270px;
        padding: 8px;
    }
    .slider-img{
        width: 170px;
        height: 270px;
    }
    .service img{
        width: 40px;
    }
    .service h3{
        font-size: 0.6rem;
    }
    .service p{
        font-size: 0.4rem;
    }
    .left {
        transform: translateX(-45%) scale(1);
    }
    
    .right {
        transform: translateX(55%) scale(1);
    }
}