.solution-header{
    width: 550px;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: -100px;
    margin-left: 50px;
    padding: 30px;
    border-radius: 15px;
}
.solution-header img{
    width: 100px;
}
.solution-header span{
    color: white;
}
.solution-header p{
    text-align: right;
    color: white;
}

.planning-solution{
    margin: 150px 15% 80px 15%;
}
.planning-solution h1{
    font-size: 3rem;
    color: rgb(7, 37, 60);
}
.planning-solution p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
}
.solution-list{
    margin: 50px 5%;
    border-radius: 10px;
    background-color: rgb(7, 37, 60);
    text-align: center;
    color: white;
}
.solution-list h1{
    padding-top: 30px;
    font-size: 4rem;
}
.our-solutions{
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-solutions img{
    width: 500px;
    height: 400px;
}
.our-solutions ul{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 50px;
    list-style: none;
}
.our-solutions ul li::before {
    content: "🚀"; /* Star character */
    font-size: 1.2rem; /* Adjust the size of the star */
    color: gold; /* Star color */
    margin-right: 10px; /* Spacing between star and text */
}

.solution-list-2{
    margin: 50px 5%;
    border-radius: 10px;
    background-color: rgb(7, 37, 60,0.6);
    color: white;
    display: none;
}
.solution-list-2 h1{
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
}
.solution-list-2 img{
    position: absolute;
    width: 90%;
    height: 410px;
    border-radius: 10px;
    z-index: -1;
}
.solution-list-2 ul{
    margin-top: -20px;
}
.solution-list-2 li{
    font-size: 1.1rem;
}

/********  media-query   *********/
@media screen and (max-width:1200px){
    .solution-header{
        margin-top: 25px;
        margin-left: 20px;
        padding: 30px;
    }
    .solution-header h1{
        font-size: 2.2rem;
    }
    .planning-solution{
        margin-top: 100px;
    }
    .our-solutions img{
        width: 400px;
        height: 300px;
    }
    .our-solutions ul{
        margin-left: 5px;
        font-size: 1.1rem;
    }
}
@media screen and (max-width:1000px){
    .impression{
        height: 20px;
    }
    .solution-header{
        margin: auto 20px;
        width: 550px;
        padding: 20px;
    }
    .solution-header img{
        width: 80px;
    }
    .solution-header h1{
        font-size: 2rem;
    }
    .solution-list h1{
        padding-top: 20px;
        font-size: 3rem;
    }
    .our-solutions{
        padding: 20px;
    }
    .our-solutions img{
        width: 320px;
        height: 250px;
    }
    .our-solutions ul{
        font-size: 0.8rem;
        gap: 6px;
        margin-left: 0px;
    }
    .our-solutions ul li::before {
        font-size: 1rem;
    }
}
@media screen and (max-width:800px){
    .impression{
        height: 2px;
    }
    .solution-header{
        margin: auto;
        margin-top: 10px;
        width: 450px;
        padding: 20px;
    }
    .solution-header img{
        width: 60px;
    }
    .solution-header h1{
        font-size: 1.6rem;
    }
    .planning-solution{
        margin: 100px 10% 80px 10%;
    }
    .planning-solution h1{
        font-size: 2.2rem;
    }
    .planning-solution p{
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 30px;
    }
    .solution-list{
        display: none;
    }
    .solution-list-2{
        display: block;
    }
    
}
@media screen and (max-width:650px){
    .solution-header{
        margin: auto;
        margin-top: -20px;
        width: 400px;
        padding: 10px;
    }
    .solution-header img{
        width: 60px;
    }
    .solution-header h1{
        font-size: 1.6rem;
    }
    .planning-solution{
        margin-top: 80px;
    }
}
@media screen and (max-width:550px){
    .solution-header{
        margin: auto;
        margin-top: 50px;
        width: 350px;
        padding: 10px;
    }
    .solution-header img{
        width: 60px;
    }
    .solution-header h1{
        font-size: 1.2rem;
    }
    .solution-header p{
        font-size: 0.7rem;
    }
    
    .planning-solution{
        margin: 70px 7% 70px 7%;
    }
    .planning-solution h1{
        font-size: 2rem;
    }
    .planning-solution p{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 30px;
    }
    .solution-list-2{
    margin: 50px 0;
    border-radius: 0px;
}
.solution-list-2 h1{
    padding-top: 10px;
    font-size: 1.7rem;
    text-align: center;
}
.solution-list-2 img{
    position: absolute;
    width: 100%;
    height: 380px;
    border-radius: 0px;
    z-index: -1;
}
.solution-list-2 ul{
    margin-top: -20px;
    margin-left: -40px;
}
.solution-list-2 li{
    font-size: 0.8rem;
}
}
@media screen and (max-width:400px){
    .solution-header{
        margin: auto;
        margin-top: 50px;
        width: 320px;
        padding: 10px;
    }
    .solution-header img{
        width: 50px;
    }
    .solution-header h1{
        font-size: 1.1rem;
    }
    .solution-header p{
        font-size: 0.7rem;
    }
    .planning-solution{
        margin: 70px 7% 70px 7%;
    }
    .planning-solution h1{
        font-size: 1.6rem;
    }
    .planning-solution p{
        font-size: 0.7rem;
        font-weight: 300;
        margin-top: 30px;
    }
}