*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

.profile-img{
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -1;
}

/********  navbar-section   *********/
.navbar{
    padding: 50px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.navbar-toggle{
    display: none;
}

.navbar-links{
    display: flex;
    column-gap: 40px;
}

.navbar-link a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/********  side-navbar-section   *********/

.side-navbar{
    background-color: rgb(7, 37, 60);
    position: fixed;
    width: 35%;
    height: 100%;
    top: 0;
    left: -45%;
    color: white;
    transition: 1s;
}

.side-navbar a{
    text-decoration: none;
    color: white;
}
.side-navbar i{
    padding: 5px;
}
.side-navbar-link{
    padding: 20px 0px 0px 20px;
}

/********  header-section   *********/
.header{
    text-align: right;
    margin-top: 250px;
    margin-right: 50px;
    font-size: 1.6rem;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  /* Top-left outline */
         2px -2px 0 #000,  /* Top-right outline */
        -2px  2px 0 #000,  /* Bottom-left outline */
         2px  2px 0 #000;  /* Bottom-right outline */
}
.header-logo{
    margin-top: 10px;
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    font-size: 1rem;
}

/********  header-section   *********/
.impression{
    font-size: 1.2rem;
    width: 55%;
    margin-top: 15%;
    margin-left: 15%;
}
.impression-img{
    width: 22%;
}
.impression-img-2{
    margin-top: -70px;
    margin-left: 100%;
    transform: rotate(180deg); /* Rotates the image by 50 degrees */
}
.impression-text{
    margin-top: -90px;
    margin-left: 25%;
}
.impression span{
    color: red;
}

/********  media-query   *********/
@media screen and (max-width:1200px) {
    .profile-img{
        width: 100%;
        height: 600px;
    }
    .impression{
        margin-top: 10%;
    }
}
@media screen and (max-width:1000px) {
    .profile-img{
        width: 100%;
        height: 500px;
    }
    .header{
        margin-top: 170px;
    }
    .impression{
        font-size: 1rem;
    }
}
@media screen and (max-width:800px) {
    .profile-img{
        width: 100%;
        height: 400px;
    }
    .navbar{
        padding: 20px;
    }
    .navbar-links{
        display: none;
    }
    .navbar-toggle{
        display: block;
    }

    /*  header  */
    .header{
        text-align: center;
        margin-top: 90px;
        margin-right: 0px;
        text-shadow: 
        -1px -1px 0 #000,  /* Top-left outline */
         1px -1px 0 #000,  /* Top-right outline */
        -1px  1px 0 #000,  /* Bottom-left outline */
         1px  1px 0 #000;  /* Bottom-right outline */
    }
    .header-logo{
        display: block;
        text-align: center;
    }
    .impression{
        font-size: 0.8rem;
        width: 65%;
        margin-top: 10%;
        margin-left: 10%;
    }
    .impression-text{
        margin-top: -60px;
        margin-left: 25%;
    }
    .impression-img-2{
        margin-top: -50px;
    }
}
@media screen and (max-width:550px) {
    .header{
        margin-top: 70px;
        font-size: 1.1rem;
    }
    .profile-img{
        width: 100%;
        height: 300px;
    }
    
    .impression{
        font-size: 0.7rem;
        width: 75%;
        margin-top: 8%;
        margin-left: 6%;
    }
    .impression-text{
        margin-top: -40px;
        margin-left: 20%;
    }
    .impression-img{
        width: 16%;
    }
}
@media screen and (max-width:400px) {
    .header{
        margin-top: 90px;
        font-size: 0.9rem;
    }
    .profile-img{
        width: 100%;
        height: 300px;
    }
}
