*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

.profile-img{
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -1;
    top: 0;
}

/********  navbar-section   *********/
.navbar{
    padding: 20px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s ease;
}
.navbar.white-bg {
    background: white; /* Changes background color to white */
    color: black;
}


.navbar-toggle{
    display: none;
}

.navbar-links{
    display: flex;
    column-gap: 40px;
    margin-top: 10px;
}

.navbar-link a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

/********  side-navbar-section   *********/

.side-navbar{
    text-align: right;
    background-color: rgb(7, 37, 60);
    position: fixed;
    width: 35%;
    height: 100%;
    top: 0;
    left: 100%;
    color: white;
    transition: 0.5s;
    z-index: 4;
}

.side-navbar a{
    text-decoration: none;
    color: white;
}
.side-navbar i{
    padding: 10px;
}
.side-navbar-link{
    padding: 20px 25% 0px 0px;
}

/********  header-section   *********/
.header{
    text-align: right;
    margin-top: 300px;
    margin-right: 50px;
    font-size: 1.6rem;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  /* Top-left outline */
         2px -2px 0 #000,  /* Top-right outline */
        -2px  2px 0 #000,  /* Bottom-left outline */
         2px  2px 0 #000;  /* Bottom-right outline */
}
.header h1{
    font-size: 5rem;
}
.header h4{
    font-size: 2.5rem;
}
.header-logo img{
    width: 200px;
    height: 100px;
}
.header-logo{
    margin-top: 10px;
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
}
.header-logo p{
    font-size: 1.5rem;
    margin-top: 20px;
}

/******** impression-section   *********/
.impression{
    font-size: 1.2rem;
    width: 55%;
    margin-top: 20%;
    margin-left: 15%;
}
.impression-img{
    width: 22%;
}
.impression-img-2{
    margin-top: -70px;
    margin-left: 100%;
    transform: rotate(180deg); /* Rotates the image by 50 degrees */
}
.impression-text{
    margin-top: -90px;
    margin-left: 25%;
}
.impression span{
    color: red;
}

/********  carousel-section   *********/
.carousel-item-1{
    height: 400px;
    position: absolute;
    width: 40%;
    background-color: rgb(7, 37, 60);
    color: white;
}
.carousel-item-1 h1{
    font-size: 4rem;
    padding-top:70px;
    padding-left: 23%;

}
.carousel-item-1 span{
    color: green;
}
.carousel-item-2{
    padding: 40px 150px 40px 40px;
    height: 400px;
    width: 60%;
    margin-left: 40%;
    background-color: rgb(122, 176, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-item h1{
    font-size: 3.2rem;
}
.carousel-item p{
    font-size: 1.5rem;
}
.choose-section{
    margin: 50px 0px 0px 0px;
}

.choose-section-2{
    margin: 30px 0px 0px 0px;
    display: none;
}


/********  middle-section   *********/
.middle-section{
    margin: 100px 100px 40px 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.middle-section img{
    background-color: #000;
    width: 170px;
    height: 170px;
    padding: 30px;
    border-radius: 50%;
}

.middle-section h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.middle-section p{
    font-size: 5.5rem;
    font-weight: 600;
    color: rgb(7, 37, 60);
}

/********  Footer-section   *********/
.footer-section{
    background-color: rgb(7, 37, 60);
    color: white;
    padding: 50px 80px 0px 80px;
}
.footer-para{
    width: 600px;
}
.footer-section button{
    padding: 7px 15px;
    margin: 7px 0px;
}
.footer-icon{
    text-align: center;
    margin-top: 40px;
}
.footer-icon i{
    width: 60px;
    font-size: 25px;
    margin-bottom: 20px;
}
.footer-icon i:hover{
    cursor: pointer;
}
.icon-para{
    margin-bottom: 0;
}

/********  media-query   *********/
@media screen and (max-width:1200px) {
    .header{
        margin-top: 250px;
    }
    .profile-img{
        width: 100%;
        height: 600px;
    }
    .impression{
        margin-top: 10%;
    }

    .carousel-item-1{
        height: 370px;
    }
    .carousel-item-2{
        height: 370px;
    }
    .carousel-item-1 h1{
        font-size: 3.3rem;
    
    }
}
@media screen and (max-width:1000px) {
    .profile-img{
        width: 100%;
        height: 500px;
    }
    .header{
        margin-top: 170px;
    }
    .header h1{
        font-size: 4rem;
    }
    .header h4{
        font-size: 2rem;
    }
    .header-logo p{
        font-size: 1.1rem;
        margin-top: 20px;
    }
    .impression{
        margin-top: 15%;
        font-size: 1rem;
    }
    .carousel-item-1 h1{
        padding-top:45px;
        padding-left: 23%;
    
    }
    .carousel-item-2{
        padding: 40px 80px 40px 40px;
    }
    .carousel-item h1{
        font-size: 3.4rem;
    }
    .carousel-item p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:800px) {
    .profile-img{
        width: 100%;
        height: 400px;
    }
    .navbar{
        padding: 10px 20px;
    }
    .navbar-links{
        display: none;
    }
    .navbar-toggle{
        display: block;
    }

    /*  header  */
    .header{
        text-align: center;
        margin-top: 130px;
        margin-right: 0px;
        text-shadow: 
        -1px -1px 0 #000,  /* Top-left outline */
         1px -1px 0 #000,  /* Top-right outline */
        -1px  1px 0 #000,  /* Bottom-left outline */
         1px  1px 0 #000;  /* Bottom-right outline */
    }
    .header-logo{
        display: block;
        text-align: center;
    }
    .header-logo p{
        font-size: 1rem;
        margin-top: 0px;
    }
    .header h1{
        font-size: 3rem;
    }
    .header h4{
        font-size: 1.5rem;
    }
    
    .impression{
        font-size: 0.8rem;
        width: 65%;
        margin-top: 10%;
        margin-left: 10%;
    }
    .impression-text{
        margin-top: -60px;
        margin-left: 25%;
    }
    .impression-img-2{
        margin-top: -50px;
    }

    .carousel-item-1{
        height: 320px;
    }
    .carousel-item-2{
        height: 320px;
        padding: 30px 80px 40px 40px;
    }
    .carousel-item-1 h1{
        font-size: 2.5rem;
    
    }
    .carousel-item h1{
        font-size: 3rem;
    }
    .carousel-item p{
        font-size: 0.9rem;
    }    
    .footer-para{
        width: 500px;
    }
}

@media screen and (max-width:650px){
    .impression{
        margin-top: 10%;
    }
    .choose-section-2{
        display: block;
    }
    
    .choose-section{
        display: none;
    }

    .carousel-item-3{
        padding: 40px 80px;
        height: 280px;
        width: 100%;
        margin-left: 0;
        background-color: rgb(122, 176, 217);
    }
    .carousel-item-3 h1{
        margin-left: 50px;
        width: 80%;
        text-align: center;
        font-size: 2rem;
    }
    .carousel-item-3 h2{
        font-size: 1.5rem;
    }
    .carousel-item-3 p{
        font-size: 0.8rem;
    }
    .footer-para{
        width: 400px;
    }
}

@media screen and (max-width:550px) {
    .header{
        margin-top: 130px;
        font-size: 1.1rem;
    }
    
    .header h1{
        font-size: 2.2rem;
    }
    .header h4{
        font-size: 1.2rem;
    }
    .header-logo img{
        margin-top: -10px;
        width: 100px;
        height: 70px;
    }
    .profile-img{
        width: 100%;
        height: 330px;
    }
    
    .impression{
        font-size: 0.7rem;
        width: 75%;
        margin-top: 8%;
        margin-left: 6%;
    }
    .impression-text{
        margin-top: -40px;
        margin-left: 20%;
    }
    .impression-img{
        width: 16%;
    }
    .carousel-item-3 h1{
        margin-left: 30px;
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
    }
    .carousel-item-3 h2{
        font-size: 1.2rem;
    }
    .carousel-item-3 p{
        font-size: 0.8rem;
    }
    .middle-section{
        margin-top: 20px;
    }
    .middle-section img{
        width: 140px;
        height: 140px;
    }
    .middle-section p{
        font-size: 4.5rem;
        font-weight: 450;
    }
    .footer-section{
        padding: 20px 35px 0px 35px;
    }
    .footer-para{
        width: 300px;
    }
}
@media screen and (max-width:400px) {
    .header{
        margin-top: 140px;
        font-size: 0.7rem;
    }
    .header h1{
        font-size: 1.6rem;
    }
    .header h4{
        font-size: 0.9rem;
    }
    .header-logo p{
        font-size: 0.7rem;
    }
    .header-logo img{
        margin-top: -10px;
        width: 100px;
        height: 70px;
    }
    .impression{
        margin-top: 13%;
    }
    .profile-img{
        width: 100%;
        height: 310px;
    }
    .carousel-item-3 h1{
        margin-top: -20px;
        width: 100%;
        margin-left: 5px;
        text-align: center;
        font-size: 1.2rem;
    }
    .carousel-item-3 h2{
        font-size: 1rem;
        margin-left: -20px;
    }
    .carousel-item-3 p{
        font-size: 0.8rem;
        width: 125%;
        margin-left: -20px;

    }
    .carousel-item-3{
        height: 240px;
    }
    .footer-icon i{
        width: 45px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-para{
        width: 250px;
    }
}
